<center>
<%= link_to 'USUARIOS', controller: 'usuarios' %>
<!-- Te lleva al controlador usuarios, y por defecto tienes puesta la entrada para que sea el index,
que es el que te lista los usuarios que tengas!-->
<h1>Bienvenido rails</h1>
</center>
