<center>
<h1>Nuevo Usuario</h1>
</center>
<%= render 'form'  %>
<!-- lO QUE TE INDICA EL RENDER ES QUE VAYAS A FORM, EN EL CUAL TIENES
EL CÓDIGO COMUN, YO CREO QUE ES COMO SI EL TROZO DE CÓDICO DE formESTUVIESE AQUÇI INCRUSTADO!-->
<!-- LO que indica essa url es lo que vas a ajecuta cuando le des s intro !-->
